In [1]:
import json
from web3 import Web3, HTTPProvider
import pandas as pd
from ganacheconnector import contractConnector

In [2]:
blockchain_address = 'http://127.0.0.1:8545'
compiled_contract_path = '../build/contracts/P2PTest.json'
deployed_contract_address = '0x6d72dC5be82840419bde6758D04Cc37102eB0473'
defaultAccount = 0

web3 = Web3(HTTPProvider(blockchain_address))
web3.eth.accounts[defaultAccount]
web3.eth.defaultAccount = web3.eth.accounts[defaultAccount]

In [3]:
web3.eth.accounts

['0x04C2CcCf58ff9C74C40d5B90C241D3c56dB259e9',
 '0x8B6D23aa533B01eacF790eBfB2af7eFa08e4f3B8',
 '0x199510150ED1A48CC7D722450f9A8Ed663b0Cbe5',
 '0x77bCb8a3E034a4fEfCc3E4cBAE9558e5Dac0D4C1',
 '0x2124A254a4AeC274e016388fedE02D7fd6cE7EBe',
 '0x228849d857897F1f2580511516b99CE8972ffc02',
 '0x9eBbb86593b4B6212FEA6c7905EAA85b352cf9Ea',
 '0x6B88437d69866Ecc46c77C356b716d1f0ab745d5',
 '0x242C90083460c262C092a7fD93615BbF7ff7A380',
 '0xEe3a3B19181D4E45e6aA6519339737c7aA0D89a3']

In [4]:
accounts = [
    ["Mike","Lucas",50000,'0x04C2CcCf58ff9C74C40d5B90C241D3c56dB259e9',0],
    ["Josh","Abelman",5000,'0x8B6D23aa533B01eacF790eBfB2af7eFa08e4f3B8',1],
    ["Hannah","Morgan",10000,'0x199510150ED1A48CC7D722450f9A8Ed663b0Cbe5',2],
    ["Sarah","James",31000,'0x77bCb8a3E034a4fEfCc3E4cBAE9558e5Dac0D4C1',3],
    ["Lisa","Ryan",2900,'0x2124A254a4AeC274e016388fedE02D7fd6cE7EBe',4],
    ["Francois","Tyler",8500,'0x228849d857897F1f2580511516b99CE8972ffc02',5],
    ["Elroy","Games",755,'0x9eBbb86593b4B6212FEA6c7905EAA85b352cf9Ea',6],
    ["Fred","Nicholsan",250,'0x6B88437d69866Ecc46c77C356b716d1f0ab745d5',7],
    ["Rob","Richardson",75000,'0x242C90083460c262C092a7fD93615BbF7ff7A380',8],
    ["Michael","Jordan",125000,'0xEe3a3B19181D4E45e6aA6519339737c7aA0D89a3',9]
]

df = pd.DataFrame(accounts,columns=["firstName","lastName","accountBalance","address","web3AddressIndex"])
df.to_csv("accounts.csv",index=None)

In [5]:
c = contractConnector(blockchain_address,compiled_contract_path,deployed_contract_address,defaultAccount)

In [329]:
print("Simulating Contracts in Marketplace")
borrowers = [
    ["Mike","Lucas",50000,0],
    ["Josh","Abelman",5000,1], 
    ["Elroy","Games",755,6], 
    ["Francois","Tyler",8500,5], 
    ["Lisa","Ryan",2900,4],      #Lisa will be our example of needing a loan 
    ["Fred","Nicholsan",250,7], 
    ["Michael","Jordan",125000,9]
]

lenders = [ 
    ["Hannah","Morgan",10000,2],  #0
    ["Mike","Lucas",50000,0],       #Mike will be our example for funding loan (loan 0)
    ["Sarah","James",31000,3], 
    ["Rob","Richardson",75000,8],
    ["Michael","Jordan",125000,9]
]

loans = [
    ["Grocery help needed","I have not yet received my paycheck and I need a spot and some assistance getting groceries to feed my 3 small children.","grocery","2020-03-01",1,120,3,6],
    ["Kitched home rennovation","I have just moved into the neighborhood and am planning to rennovate my kitchen. Currently do not have enough funds to pay the job in full.","home improvement","2021-05-01",12,1000,10,6],
    ["Credit card payment help","The next billing cycle for my credit card debt starts in 3 days. Although I have been diligently paying part of it off every month, the snowball gets bigger and bigger. I really don’t want to pay the high interest rate anymore. It will be helpful if I can get a small loan to pay it all off, then my monthly payment will be much more affordable.","debt","2021-07-15",2,375,4,1],
    ["Lost job, need help with bills","I was a cleaning staff at the local shopping mall and lost my job during the pandemic. I have 2 children to take care of but paying bills on time becomes so difficult without a job. I hope to get a loan to get through this difficult time for my family.","job loss","2021-06-05",3,775,5,7],
    ["Unforseen accident and car repair","I got into a car accident last month and my car needs major repair. The person who hit me fled the scene and has not been found. I don’t have a good car insurance, and I don’t have enough to pay for the repair cost. I need my car to travel to work so it is important to get it fixed asap.","auto repair","2021-04-01",5,1250,3,9],
    ["Emergency medical bill","I had to take my son to the emergency room after he choked when he was eating. We don’t have good insurance and we are facing a $8k medical bill. I’ve tried to borrow money from friends and family, but I couldn’t get much.","medical bills","2021-07-22",2,500,5,4],
    ["Home improvement for the elderly","My grandma lives in an old house in Georgia by herself. She’s getting old and does not have much money for the house’s upkeep. Her air-conditioning system is not functioning properly, so I want to help hire someone to install a new air-conditioning system for her before the summer comes.","home improvement","2021-03-14",6,2500,10,4],
    ["Home improvement -- pipes","We found a blocked pipe in the house. The estimated cost to unclog the sewer line is about $600 in my area. Money is tight for me right now so I want to ask for a small loan to cover this but I will pay it back soon.","home improvement","2021-05-01",10,600,5,4],
    ["New equipment for local coffee shop","I just started my own little coffee shop in the neighborhood. I love coffee and want to share that with people in my community. I have an old, second-hand coffee machine that won't last for much longer. I would like to purchase a new one that will last a long time. It is essential for my business.","business needs","2021-04-12",4,3500,10,5]      
]

#Hannah funds loan 0 
#Sarah funds loan 0
#Rob funds loan 0
#Hannah funds loan 2
#Hannah funds loan 3 
#Mike funds loan 4
#Michael funds loan 5 
#Sarah funds loan 6
#Rob funds loan 6 
#Rob funds loan 7 
#Mike funds loan 8
funding = [
    [0,20,2],   #Hannah Funds Elroy's, loan 0, with $20
    [0,30,3],   #Sarah funds Elroy's loan, loan 0, with $30
    [0,45,8],   #Rob funds Elroy's loan, loan 0, with $45
    [2,100,2],  #Hannah funds Josh's loan, loan 2, with $100
    [3,75,2],   #Hannah funds Fred's loan, loan 3, with $75
    [4,500,0],  #Mike funds Michael's loan, loan 4, with $500
    [5,100,9],  #Michael funds Lisa's loan, loan 5, with $100
    [6,200,3],  #Sarah funds Lisa's loan, loan 6, with $200
    [6,100,8],  #Rob funds Lisa's loan, loan 6, with $100
    [7,500,8],  #Rob funds Lisa's loan, loan 7, with $500
    [8,1500,0]  #Mike funds Francois' loan, loan 8, with $1500
]


#Add the borrowers
for i in borrowers: 
    message = c.contract.functions.createBorrower(i[0], i[1], i[2]).transact({'from': web3.eth.accounts[i[3]]})
    message_receipt = web3.eth.wait_for_transaction_receipt(message)
print("Borrowers Simulated")

#Add the lenders 
for i in lenders: 
    message = c.contract.functions.createInvestor(i[0], i[1], i[2]).transact({'from': web3.eth.accounts[i[3]]})
    message_receipt = web3.eth.wait_for_transaction_receipt(message)
print("Investors Simulated")

#Add the loans 
for i in loans:
    message = c.contract.functions.createLoan(i[0], i[1], i[2],i[3],i[4],i[5],i[6]).transact({'from': web3.eth.accounts[i[7]]})
    message_receipt = web3.eth.wait_for_transaction_receipt(message)
print("Loan Creation Simulated")

#Add some funding 
for i in funding:
    message = c.contract.functions.fundLoan(i[0],i[1]).transact({'from':web3.eth.accounts[i[2]]})
    message_receipt = web3.eth.wait_for_transaction_receipt(message)
print("Funding Simulated")

#Payback Investor

Simulating Contracts in Marketplace
Borrowers Simulated
Investors Simulated
Loan Creation Simulated
Funding Simulated

In [17]:
address = "0x9eBbb86593b4B6212FEA6c7905EAA85b352cf9Ea"
get_names=True
df = c.get_investor_payback_by_borrower_address(address)
if get_names: 
    investor_address = df.investorPublicKey.unique().tolist()
    l = []
    for i in investor_address: 
        investor_data = c.get_investor_struct_info(None,address=i)
        name_data = [i,investor_data.firstName[0], investor_data.lastName[0]]
        l.append(name_data)
    df_names = pd.DataFrame(l,columns=["investorPublicKey","investorFirstName","investorLastName"])
    df = pd.merge(df, df_names, on="investorPublicKey")
df.head()

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,originalInvestmentAmountInvestor,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId,loanStartDate,shortDescription,loanDescription,investorFirstName,investorLastName
0,0x9eBbb86593b4B6212FEA6c7905EAA85b352cf9Ea,0x199510150ED1A48CC7D722450f9A8Ed663b0Cbe5,20,20,20,3,1,0,0,2020-03-01,Grocery help needed,I have not yet received my paycheck and I need...,Hannah,Morgan
1,0x9eBbb86593b4B6212FEA6c7905EAA85b352cf9Ea,0x77bCb8a3E034a4fEfCc3E4cBAE9558e5Dac0D4C1,30,30,30,3,1,0,1,2020-03-01,Grocery help needed,I have not yet received my paycheck and I need...,Sarah,James
2,0x9eBbb86593b4B6212FEA6c7905EAA85b352cf9Ea,0x242C90083460c262C092a7fD93615BbF7ff7A380,45,46,46,3,1,0,2,2020-03-01,Grocery help needed,I have not yet received my paycheck and I need...,Rob,Richardson

In [331]:
blockchain_address = 'http://127.0.0.1:8545'
compiled_contract_path = '../build/contracts/P2PTest.json'
deployed_contract_address = '0x6d72dC5be82840419bde6758D04Cc37102eB0473'
defaultAccount = 0

web3 = Web3(HTTPProvider(blockchain_address))
web3.eth.accounts[defaultAccount]
web3.eth.defaultAccount = web3.eth.accounts[defaultAccount]

<h4>See all Investors:</h4>

In [215]:
c.get_all_investors_struct_info()

,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists
0,0x199510150ED1A48CC7D722450f9A8Ed663b0Cbe5,Hannah,Morgan,9805,3,0,True
0,0x04C2CcCf58ff9C74C40d5B90C241D3c56dB259e9,Mike,Lucas,48000,2,1,True
0,0x77bCb8a3E034a4fEfCc3E4cBAE9558e5Dac0D4C1,Sarah,James,30770,2,2,True
0,0x242C90083460c262C092a7fD93615BbF7ff7A380,Rob,Richardson,74355,3,3,True
0,0xEe3a3B19181D4E45e6aA6519339737c7aA0D89a3,Michael,Jordan,124900,1,4,True

<h4>See all Borrowers:</h4>

In [188]:
c.get_all_borrowers_struct_info()

,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,0x93565c2F52031Bc2c92c5771020D3b8CBc8C8F73,Mike,Lucas,50000,0,0,True
0,0x7fff12Ed398dEe3e049B42dacCF5478b43626C51,Josh,Abelman,5100,1,1,True
0,0x099CF2c158B5c3F208204574CA4228b321B566De,Elroy,Games,850,2,2,True
0,0xC486d644919856c8d70D2eFFb7099703534a5b3b,Francois,Tyler,10000,1,3,True
0,0xA01406345aBE09a4181Df3c727fb439B041271d7,Lisa,Ryan,3800,3,4,True
0,0xb39cD0Ae620BE273c88f470Fa44D19a04267c926,Fred,Nicholsan,325,1,5,True
0,0x46bec38FdBd0B8F739913d568FE857B15f72F8b9,Michael,Jordan,125500,1,6,True

<h4>See All Loans in the marketplace:</h4>

In [208]:
c.get_all_loan_struct_info(True)

,loanDescription,loanId,loanDuration,totalAmount,amountFunded,interestRate,numFunders,EXISTS,fundedStatus,borrowerPublicKey,firstName,lastName,accountBalance,numLoans,borrowerId,Exists
0,I have not yet received my paycheck and I need...,0,1,120,95,3,3,True,False,0x03516c9a420e0c2Cf7DA12D1cEEdBC4188d071B7,Elroy,Games,850,2,2,True
0,I have just moved into the neighborhood and am...,1,12,1000,0,10,0,True,False,0x03516c9a420e0c2Cf7DA12D1cEEdBC4188d071B7,Elroy,Games,850,2,2,True
0,The next billing cycle for my credit card debt...,2,2,375,100,4,1,True,False,0x7d5F392ceb79fC122008DdD6dE718aabF79f9aEe,Josh,Abelman,5100,1,1,True
0,I was a cleaning staff at the local shopping m...,3,3,775,75,5,1,True,False,0x358d247EEb98668A4de14F98476FD1032475a392,Fred,Nicholsan,325,1,5,True
0,I got into a car accident last month and my ca...,4,5,1250,500,3,1,True,False,0x6965f7198a621fC1f729Bd1523cfBb3308a2c764,Michael,Jordan,125500,1,6,True
0,I had to take my son to the emergency room aft...,5,2,500,100,5,1,True,False,0x1314CDFb4cA6CFD30c0fbFBD73a910E1c7234919,Lisa,Ryan,3800,3,4,True
0,My grandma lives in an old house in Georgia by...,6,6,2500,300,10,2,True,False,0x1314CDFb4cA6CFD30c0fbFBD73a910E1c7234919,Lisa,Ryan,3800,3,4,True
0,We found a blocked pipe in the house. The esti...,7,10,600,500,5,1,True,False,0x1314CDFb4cA6CFD30c0fbFBD73a910E1c7234919,Lisa,Ryan,3800,3,4,True
0,I just started my own little coffee shop in th...,8,4,3500,1500,10,1,True,False,0x2526C0f5564faaDF8De979F44642A53f5a4256d5,Francois,Tyler,10000,1,3,True

<h4>See all loans that Elroy has to payback</h4>

In [190]:
c.get_investor_payback_by_borrower_address(web3.eth.accounts[6])

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0x099CF2c158B5c3F208204574CA4228b321B566De,0xF2B24a0B95Fa8b6452ADd29eF98AAb10b9D07347,20,20,3,1,0,0
0,0x099CF2c158B5c3F208204574CA4228b321B566De,0xA86C72252d5ae37C22a6985962F0829E2F14Ce0E,30,30,3,1,0,1
0,0x099CF2c158B5c3F208204574CA4228b321B566De,0x1B04c23E63738c936953d41D24B23Ea7f73158a6,45,45,3,1,0,2

In [209]:
c.get_investor_struct_info(None,address="0xF2B24a0B95Fa8b6452ADd29eF98AAb10b9D07347")

,investorPublicKey,firstName,lastName,accountBalance,numInvestments,investorId,Exists
0,0x32F1c268f7DdcdEDCD5b52865E4983CB37474601,Hannah,Morgan,9805,3,0,True

<h4>See all loans that Lisa has to payback</h4>

In [191]:
c.get_investor_payback_by_borrower_address(web3.eth.accounts[4])

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0xA01406345aBE09a4181Df3c727fb439B041271d7,0x46bec38FdBd0B8F739913d568FE857B15f72F8b9,100,100,5,2,5,6
0,0xA01406345aBE09a4181Df3c727fb439B041271d7,0xA86C72252d5ae37C22a6985962F0829E2F14Ce0E,200,200,10,6,6,7
0,0xA01406345aBE09a4181Df3c727fb439B041271d7,0x1B04c23E63738c936953d41D24B23Ea7f73158a6,100,100,10,6,6,8
0,0xA01406345aBE09a4181Df3c727fb439B041271d7,0x1B04c23E63738c936953d41D24B23Ea7f73158a6,500,500,5,10,7,9

<h4>See the loans that Francois has to payback:</h4>

In [192]:
c.get_investor_payback_by_borrower_address(web3.eth.accounts[5])

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0xC486d644919856c8d70D2eFFb7099703534a5b3b,0x93565c2F52031Bc2c92c5771020D3b8CBc8C8F73,1500,1500,10,4,8,10

<h4>Francois Paysback Mike $1000.</h4>

In [193]:
c.contract.functions._paybackInvestor(1,8,1000).transact({'from':web3.eth.accounts[5]})

HexBytes('0x1565e797cd2ef7d38233d95857ec95f872dc401df10025c46b8960b13816ca6c')

In [194]:
c.get_investor_payback_by_borrower_address(web3.eth.accounts[5])

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0xC486d644919856c8d70D2eFFb7099703534a5b3b,0x93565c2F52031Bc2c92c5771020D3b8CBc8C8F73,1500,500,10,4,8,10

<h4>Francois paysback Mike 550.</h4>

In [195]:
c.contract.functions._paybackInvestor(1,8,550).transact({'from':web3.eth.accounts[5]})

HexBytes('0x7f0a2f95cdc819ed773151b2ceb2a334d6378d56a675dad2f7a45be1b5cc3923')

In [196]:
c.get_investor_payback_by_borrower_address(web3.eth.accounts[5])

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0xC486d644919856c8d70D2eFFb7099703534a5b3b,0x93565c2F52031Bc2c92c5771020D3b8CBc8C8F73,1500,0,10,4,8,10

<h4>See all the loans that Mike has invested in</h4>

In [202]:
c.getInvestorLoanContracts(web3.eth.accounts[0])

,borrowerPublicKey,investorPublicKey,originalInvestmentAmount,currentPaybackAmount,interestRate,loanTerm,loanId,loanContractId
0,0x46bec38FdBd0B8F739913d568FE857B15f72F8b9,0x93565c2F52031Bc2c92c5771020D3b8CBc8C8F73,500,500,3,5,4,5
0,0xC486d644919856c8d70D2eFFb7099703534a5b3b,0x93565c2F52031Bc2c92c5771020D3b8CBc8C8F73,1500,0,10,4,8,10